/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f3fc;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
  /* margin-top: 20px;  */
}

.p-about {
  color: rgb(85, 85, 85);
  margin-top: 20px;
  text-align: justify;
  padding: 0 5%;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 10;
  padding: 0px 8%;
}

.nav-brand:hover {
  background-color: transparent;
  cursor: pointer;
}

.nav-links {
  gap: 1rem;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: rgb(181, 181, 181);
  padding: 3px 20px;
  border-radius: 1.5rem;
  transform: 0.3s;
}

a:hover {
  /* background: rgb(53, 53, 53); */
  /* color: white; */
  /* text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181); */
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1px;
}

.logo-span {
  color: rgb(80, 80, 80);
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 10%;
  height: 100%;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 100%;
  padding-top: 12%;
  padding-bottom: 5%;
  margin-bottom: 6%;
} 

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}


#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem; /* Reduced gap */
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.5rem; /* Reduced padding */
  width: 7rem; /* Adjusted width */
  border-radius: 1rem; /* Reduced border-radius */
}



.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
  border: rgb(163, 163, 163) 0.1rem solid;
}

.btn-color-2:hover {
  cursor: pointer;
  border-color: rgb(255, 255, 255);
  background: rgb(53, 53, 53);
  color: white;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; /* Allow containers to wrap */
  width: 100%;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  background: #f0f3fc;
  text-align: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
  height: 100%;
  
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; 
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-around;
  width: 100%;
}

article {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  justify-content: center;
}

article .icon {
  cursor: default;
}

.programming-container, .database-container{
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
}

.skills-header {
  display: flex;

}
.skill-container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s;
}

.skill-container:hover{
  cursor: pointer;
  box-shadow: rgb(161, 161, 161) 0px 8px 24px;
}

.image-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}

.skillLogo {
  width: 90px;
  object-fit: contain;
}

.language {
  font-size: 18px;
}


/* PROJECTS SECTION */

#projects {
  position: relative;
  height: 100%;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  width: 100%;
  height: 225px;
  border-radius: 1rem;
}

.project-title {
  margin: 0.5rem 0; /* Reduced margin */
  color: black;
  font-size: 1rem; /* Adjust font size if needed */
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);

    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.5rem; /* Reduced padding */
    width: 6rem; /* Adjusted width */
    border-radius: 1rem; /* Reduced border-radius */
 
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 25%;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  padding: 0.5rem;
  margin-top: 3%;
  transition: 0.3s;
}

.contact-info-upper-container:hover {
  box-shadow: rgb(199, 199, 199) 0px 8px 24px;
}

.contact-info-container {
  display: flex;
  align-items: center;
  margin: 1rem 0px;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* .email-link {
  position: relative;
} */

.email-link:hover, .linkedin-link:hover {
  background-color: transparent;
  color: rgb(112, 112, 112);
}

/* .email-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.email-link:hover:after { 
  width: 100%; 
  left: 0; 
} */

/* FOOTER SECTION */

/* footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
} */
ul {
  list-style-type: none;
}
.footer{
  font-size: 15px;
  padding: 0px;
  color: rgb(43, 43, 43);
  background: rgba(0, 0, 0, 0.274);
}

.footer-data.flex {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
}


.footer-data h2,p{
  font-size: 18px;
}

.footer-data p{
  color: rgba(43, 43, 43, 0.751);
  font-size: 15px;
}

.footer-container{
  width: 100%;
  display: flex;
  justify-content:space-between;
  padding: 50px 150px 40px 90px;
  background-color: rgba(0, 0, 0, 0.274);
  margin: 0;
}

.footer a{
  color: rgba(43, 43, 43, 0.419);
  margin-right: 10px;
}
.wrapper{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.footer-link{
  color: rgba(43, 43, 43, 0.751);
  transition: 0.3s;
  padding: 0;
}

.footer-link:hover{
  color: black;
  font-weight: 500;
  background-color: transparent;
}

.footer-social .fa-brands{
  transition: ease all 0.35s;
}

.footer-social .fa-brands.fa-facebook:hover{
  color: #1A6ED8;
}

.footer-social .fa-brands.fa-linkedin:hover{
  color: #0a66c2;
}

.footer-social .fa-brands.fa-instagram:hover{
  color:#C13584;
}


.project-details-container {
  background: white;
  border-radius: 2rem;
  /* border: 0.1rem solid rgb(163, 163, 163); */
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px; 
   margin: 2rem; /*Sabi ni chaz di raw to pwede sa monitor pc size */
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   transition: 0.3s;
}

.project-details-container:hover {
  cursor: pointer;
  box-shadow: rgb(161, 161, 161) 0px 8px 24px;
}

/* this is the change code */
.project-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Education */
.education {
  margin-bottom: 5%;
  font-size: 2rem;
}

.col {
  height: 100%;
}

.col header.title{

	color: #11a372;
	padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa00;
  margin-bottom: 10%;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
  border-radius: 1rem;
}
.col .contents .box:hover{
  box-shadow: rgb(161, 161, 161) 0px 8px 24px;
	border: 1px solid transparent;
}
/* .col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: gray;
	border: 2px solid white;
} */
.box h4{
	position: relative;
	color: rgb(141, 141, 141)
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;

	color: #000000;
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}

.box p.course {
  font-weight: 500;
  margin-bottom: 10px;
}

/* NAVBAR UPDATED */

nav {
  height: 5rem;
  background-color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.nav-logo {
  float: left;
  width: 40px;
  margin-right: 10px;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
nav a{
  height: 40%;
  padding: 3px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}
.links-container a {
  font-size: 1.1rem;
  font-weight: 500;
}

.links-container a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
nav .home-link{
  margin-right: auto;
}
nav svg{
  fill: var(--text-color);
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
@media(max-width: 768px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: white;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-out;
    justify-content: flex-start;
    
  }

  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    border-radius: 0px;
  }

  .links-container a:hover {
    background-color: #3d3d3d;
    color: white;
  }

  a:hover:after { 
    width: 0%; 
    left: 0; 
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
    cursor: pointer;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

@media(max-width: 426px) {
  .links-container{
    width: 70%;
  }
}

.education-box {
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
}

.pup-logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
}


.lcup-logo {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  margin-right: 20px; /* Space between the logo and the text */
}

.education-text {
  display: flex;
  flex-direction: column;
}